body {
    color:whitesmoke;
    background-image: url(../imagenes/consolebackground.jpg);
    /*background-color:rgba(31, 31, 31);*/
}

footer {
    font-family: serif;
    border:solid;
    border-width: 0.1rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(19, 19, 19);
}

a {
    text-decoration: none;
    color:goldenrod;
    display: contents;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    background-color: black;
    font-family: sans-serif;
    border: solid;
    border-radius: 4rem;
    margin: 0.5rem;
    padding: 0.5em;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    background-color: goldenrod;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.5rem;
} 

nav {
    font-family: sans-serif;
    margin: 0rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    flex-grow: 6;
}

nav li {
    border: solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.15rem;
    margin: 0.3rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
    width: 20rem;
    background-color:black;
    color:goldenrod;
    font-weight: bold;
    text-transform: uppercase;
}

nav li:hover , .control-sesion > a:hover {  /*Efecto resaltado boton*/
    background-color:goldenrod;
    color:rgb(31, 31, 31);
    border-color: transparent;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.1rem;
}

article {
    border: solid;
    border-color: goldenrod;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: rgb(19, 19, 19);
    margin: 1rem;
    max-height: 100rem;
}

article > h2 {      /*modificar estilo de h2 cuanod es titular de articulo*/
    color:goldenrod;
    background-color: transparent;

    margin-top: 0.1rem;
    margin-left: 0;
    margin-right: 0;
}

.notas {
    font-style: italic;
    font-size: 0.8rem;
}

/*article > div*/
.fuente {
    font-style: italic;
    font-size: 0.8rem;
}

/*article > div > p*/
.resumen {
    font-size: 1rem;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
}

.cuerpo {
    font-size: 1.05rem;
}

.container-cabecera {       
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}


.image {
    max-width: 100%;
    min-width: 15rem;
}

.articulo-foto {            /*estilo para articulos importantes con foto*/
    max-width: 40rem;
    min-width: 20rem;
    max-height: 40rem;
    flex-grow: 2;
}

.articulo-nofoto {          /*estilo parabarticulos no resaltados sin foto*/
    max-width: 27%;
    min-width: 10rem;
    height: fit-content;
    align-self: center;
    flex-grow: 1;
}

.menu-cabecera {               /*colocar en linea todos los elementos de la cabecera*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    width: 100%;
}

.control-sesion {       /*poner en columna los enlaces "login" y "registro" contenidos*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*margin-right: 1rem;*/
}

.control-sesion > a {       /*estilo de los enlaces "login" y "registro"*/
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    border-radius: 2rem;
    border-width: 0.15rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    max-width: 7rem;
}

.menu-cabecera > img {         /*icono de sesion (no funcional)*/
    flex-grow: 1;
    width: 2.8rem;
    height: 2.8rem;
    max-width: 2.8rem;
    max-height: 2.8rem;
    padding: 0.5rem;
    border: solid;
    border-width: 0.2rem;
    border-radius: 4rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}










